/* Define custom font for h1 and links */
@font-face {
    font-family: 'PhaseFGX';
    src: url('https://raw.githubusercontent.com/stillinamsterdam/site/main/Phase-FGX_29-86-4.ttf') format('truetype');
}

/* Define custom font for h2 */
@font-face {
    font-family: 'PhaseCGX';
    src: url('https://raw.githubusercontent.com/stillinamsterdam/site/main/Phase-CGX_19-20-81.ttf') format('truetype');
}

body {
    background-color: #EFEA95;
    font-family: Arial, sans-serif;
    text-align: left;
    padding: 40px 20px 20px; 
    margin: 0; /* Remove default margin */
    padding-bottom: 50px; /* Add space at the bottom of the page */
}

.container {
    max-width: 800px; /* Keeps content from being too wide */
    margin: 20px 0 20px 0; /* Remove auto centering and keep it aligned to the left */
    padding-left: 20px; /* Increase left padding for alignment */
    position: relative; /* Keeps positioning correct */
}

/* Style for h1 */
h1 {
    font-size: 38px;
    margin-bottom: 20px;
    font-family: 'PhaseFGX', sans-serif;
    color: #4a57ce;
}

/* Style for h2 */
h2 {
    font-size: 21px;
    font-weight: normal;
    line-height: 1.6;
    font-family: 'PhaseCGX', sans-serif;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

   h3 {
    font-family: monospace;
    color: black;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 400; /* Adjust this value to make it lighter (100-400) */
}

/* Style for links */
.links {
    margin-top: 30px;
    padding-bottom: 50px; /* Add extra space below links */
}

.links a {
    display: inline; /* Ensures the link is only as wide as the text */
    text-decoration: none; /* Optional: Removes underline */
    color: inherit; /* Optional: Keeps default text color */
}


.links a {
    display: block;
    font-size: 18px;
    color: #4a57ce;
    text-decoration: none
    margin: 10px 0;
    font-family: 'PhaseFGX', sans-serif;
}

a:hover {
    color: white; /* Changes text to white when hovered */
}

.logo {
    height: 50px; /* Adjust logo height to half of stamp */
    margin-right: 10px; /* Space between logo and text */
    vertical-align: middle;
    display: inline-block; /* Ensure inline positioning */
}

.stamp {
    position: fixed;
    top: 20px; /* Keeps stamp in top right corner */
    right: 20px;
    width: 100px; /* Keep stamp in top right corner */
    height: auto;
}

