/* Define custom font for h1 and links */
@font-face {
    font-family: 'PhaseFGX';
    src: url('https://raw.githubusercontent.com/stillinamsterdam/site/main/Phase-FGX_29-86-4.ttf') format('truetype');
}

/* Define custom font for h2 */
@font-face {
    font-family: 'PhaseCGX';
    src: url('https://raw.githubusercontent.com/stillinamsterdam/site/main/Phase-CGX_19-20-81.ttf') format('truetype');
}

body {
    background-color: #EFEA95;
    font-family: Arial, sans-serif;
    text-align: left;
    padding: 20px;
    margin: 0; /* Remove default margin */
}

.container {
    max-width: 800px;
    margin: 20px 40px; /* Reduce top and left margin */
    position: relative; /* Allows positioning of child elements */
}

/* Style for h1 */
h1 {
    font-size: 64px;
    margin-bottom: 20px;
    font-family: 'PhaseFGX', sans-serif;
    color: #4a57ce;
}

/* Style for h2 */
h2 {
    font-size: 21px;
    font-weight: normal;
    line-height: 1.6;
    font-family: 'PhaseCGX', sans-serif;
}

/* Style for links */
.links {
    margin-top: 30px;
}

.links a {
    display: block;
    font-size: 18px;
    color: blue;
    text-decoration: underline;
    margin: 10px 0;
    font-family: 'PhaseFGX', sans-serif;
}

/* Stamp image styling */
.stamp {
    position: fixed; /* Keeps it in the top-right even when scrolling */
    top: 20px; /* Adjusted top spacing */
    right: 20px; /* Adjusted right spacing */
    width: 25%; /* Reduce to one-fourth of the original size */
    height: auto; /* Maintain aspect ratio */
}
